<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Farhaan</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </head>
  <body>

      <div class="container">
        <div class="jumbotron">
          <form method="POST">
            {{ form.hidden_tag() }}

            {{ form.password.label }}  {{ form.password(class='form-control') }}
            <span class="error">
          {% if form.password.errors %}
            {% for error in form.password.errors %}
              {{ error }}
              <br>
            {% endfor %}
          {% endif %}
        </span><br>

    {{ form.confirm_password.label }} {{ form.confirm_password(class='form-control') }}
    <span class="error">
          {% if form.confirm_password.errors %}
            {% for error in form.confirm_password.errors %}
              {{ error }}
              <br>
            {% endfor %}
          {% endif %}
        </span><br>

      {{ form.submit() }}
          </form>
  </div>
      </div>
  </body>
</html>
